<center>  <h1>sucursal_1</h1>  </center>
    
<table class="table table-hover" >

<tr>
      <td>HUMEDAD</td>
      <td>TEMPERATURA</td>
    </tr>
      <tr>
        <td id="humedad">{{sucursal_1}}</td>
        <td id="temperatura">{{sucursal_1}}</td>
      </tr>
      <br>
  </table>
  
  <html>
    <center>
    <input type="submit" value="ENCENDIDO" class="btn btn-dark"><br><br>
    <input type="submit" value="APAGADO" class="btn btn-dark"><br><br>
  </center>
  </html>
  
  <table class="table table-hover" > 
    <center>  <h1>sucursal_2</h1>  </center>
    <tr>
      <td>HUMEDAD</td>
      <td>TEMPERATURA</td>
    </tr>
    <tr>
      <td id="humedad_2">{{sucursal_2}}</td>
      <td id="temperatura_1">{{sucursal_2}}</td>
  
  </tr>
  </table>
  
  <html>
    <center>
    <input type="submit" value="ENCENDIDO" class="btn btn-dark"><br><br>
    <input type="submit" value="APAGADO" class="btn btn-dark"><br><br>
  </center>
  </html>
  
  <script>
    window.setInterval(function(){
  
      var request = new XMLHttpRequest();
      request.open('GET','https://webapp-20343-default-rtdb.firebaseio.com/sucursales.json');
      request.onload = () => {
        const response = request.responseText;
        console.log(response);
        const json = JSON.parse(response);
        document.getElementById('temperatura').innerHTML = json["sucursal_1"].temperatura;
        document.getElementById('humedad').innerHTML = json["sucursal_1"].humedad;
        document.getElementById('temperatura_1').innerHTML = json["sucursal_2"].temperatura;
        document.getElementById('humedad_2').innerHTML = json["sucursal_2"].humedad;
        
      };
      request.send();
    },100);
  </script>
  