$def with(sucursal)
<!DOCTYPE html>
<html>
    <head>
        <title>ACTUALIZAR</title>
    </head>
    <body>
        
        <center>
            <h1>ACTUALIZAR </h1>
            <form method="POST">
                <br>
                <br>
                <p>NOMBRE DE SUCURSAL</p>
                <input type="name"  name="name" id="name"><br>
                <br>
                <p>HUMEDAD</p>
                <input type="temperatura" name="temperatura" id="temperatura" ><br>
                <br>
                <p>TEMPERATURA</p>
                <input type="humedad" name="humedad" id="humedad" ><br>
                <br>
                <p>EMPRESA</p>
                <input type="empresa" name="empresa" id="empresa" ><br>
                <br>
                <p>CORREO</p>
                <input type="email" name="email" id="email"   ><br>
                <br>
                <br>
                <input type="submit" value="registro" class="btn btn-dark"><br>
                <center>
            </form>
        </body>
    </html>
    