<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido</title>
    </head>
    <body>

        <center>
            <h1>Inicio de sesion exitoso</h1>

        </center>
    
        <a href="/logout" class="btn btn-dark">Logout</a>
        <br>

 
      <img src="https://media.istockphoto.com/vectors/humidity-icon-isolated-on-red-background-weather-and-meteorology-vector-id1016089220?k=20&m=1016089220&s=612x612&w=0&h=TZ-5r8cowGTbER9jKwILB6dTtE-BRB2cz9tySAJp0Ek=" class="d-block w-50" alt="...">
      

 
    </body>
    
</html>