<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido</title>
    </head>
    <body>
    <br>
    <br>

        <center>
            
            <h1>BIENVENIDO ADMINISTRADOR</h1>
            <h3>Inicio de sesion exitoso</h3>
            <br>
            <br>
            <img src="https://media.istockphoto.com/photos/electronic-door-control-device-picture-id969328162?b=1&k=20&m=969328162&s=170667a&w=0&h=u2TBBLhhP3j6djuV4GZX4DjJYN5Bks-3QfCo5Epo6O4=">
        </center>
    

 
    </body>
    
</html>