$def with (message)
<!DOCTYPE html>
<html>
    <head>
        <title>insertar_sucursal</title>
    </head>
    <body>
        
        $message
        <center>
        <h1>Registro</h1>
        <form method="POST">
            <p>NOMBRE</p>
            <input type="name" name="name" id="name"><br>
            <br>
            <p>TELEFONO</p>
            <input type="phone" name="phone" id="phone"><br>
            <br>
            <p>CORREO</p>
            <input type="email" name="email" id="email"><br>
            <br>
            <p>CONTRASEÑA</p>
            <input type="password" name="password" id="password"><br>
            <br>
            <br>
            <div class="col-auto">
                <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                <select name="nivel" class="form-control" id="input">
                  <option selected>NIVEL...</option>
                  <option id="administrador" value="administrador">ADMINISTRADOR</option>
                  <option id="operador" value="operador">OPERADOR</option>
                </select>
              </div>
            <br>
            <input type="submit" value="insertar_sucursal" class="btn btn-primary"><br>
            <center>
        </form>
    </body>
</html>