$def with(users)

<table class="table table-striped table-hover">
    <thead>
        <br>
        <br>
        <td>Name</td>
        <td>Email</td>
        <td>Update</td>
        <td>Activo/inactivo</td>
    </thead>
    $for user in users:
        <tr>
            <td><a href="/user_view/$user.key()">$user.val().get("name")</a></td>
            <td>$user.val().get("email")</td>
            <td><a href="/update/$user.key()">Actualizar</a></td>
            <td><a href="/activo/$user.key()">Activo/Inactivo</a></td>
        </tr>
</table>