<!DOCTYPE html>
<html>
<head>
</head>
<body>

    


  </body>
</html>


        <br><br>
    <center>
        <img src="https://cdn.pixabay.com/photo/2020/05/24/07/03/watercolor-cleaning-products-5212714__340.jpg">

    <br>
    <br>
        <h1 style="background-color: rgb(118, 221, 212);"> Visión</h1>
        <h2>Ser una empresa bien posicionada en la ciudad en giro de la limpieza, higiéne y sanitización, mediante la implementación de procesos de mejora continua enfocados hacia el cliente, el medio ambiente y a nuestro capital humano.</h2> 
        <h1 style="background-color: rgb(118, 221, 212);"> Misión</h1>
        <h2>Lograr la completa satisfacción de nuestros clientes, cubriendo enteramente sus necesidades de limpieza, higiene y sanitización con el mejor servicio y la mejor calidad, teniendo siempre como prioridad el cuidado del medio ambiente, la salud de los usuarios y fomentado la cultura de salud mediante la limpieza.</h2>  
        <h1 style="background-color: rgb(118, 221, 212);"> Valores</h1>
        <h2>Confianza, Honestidad, Responsabilidad, Compromiso, Puntualidad, ética profesional.
    </center>

 
<body>
    <footer>
    
</footer>
</html>