<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <img src="">


  </center>
  </body>
</html>


        <br><br>
    <center>
        <h1 style=" color: rgb(151, 47, 47);"> Vision</h1>
        <h2>En nuestro laboratorio realizamos reparaciones y calibraciones de todo tipo de instrumentos de medición de presión y temperatura. </h2> 
        <h1 style=" color: rgb(151, 47, 47);"> Mision</h1>
        <h2> Incorporamos el servicio de capacitación en planta brindando de esta manera la posibilidad de capacitar al personal de instrumentación, trasladando toda nuestra experiencia relacionada con el uso, conocimiento y mantenimiento de instrumentos de medición de presión y temperatura </h2> 
    </center>

 
<body>
    <footer>
    
</footer>
</html>