$def with (message)

<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        $message

        <h1>LOGIN</h1>
        <form method="POST">
            <br>
            <p>Correo</p>
            <input type="email" name="email" id="email"><br>
            <br>
            <p>Contraseña</p>
            <input type="password" name="password" id="password"><br>
            <br>
            <p>Nivel</p>
            <input type="nivel" name="nivel" id="nivel"><br>
            <br>
            <input type="submit" value="Login"><br>
            <br>
            <a href="/r_contrasena">Recuperar Contraseña</a>
        </form>
    </body>
</html>